/* ... Manter estilos anteriores ... */

.footer-legal {
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
    color: var(--text-sub);
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
}

/* Impede seleção de texto na interface para evitar cópia fácil de textos */
body {
    user-select: none;
    -webkit-user-select: none;
}

/* Permite seleção apenas nos inputs */
input, #listaTransacoes {
    user-select: text;
    -webkit-user-select: text;
}
